<div style="width:95%;margin:auto;">
<h1>Listing cities</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Weather</th>
      <th>Temperature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.latitude %></td>
        <td><%= city.longitude %></td>
        <td><%= city.weather.summary %></td>
        <td><%= city.weather.temperature %> °C</td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a style="color:#ffffff;" href="<%= new_city_path %>" class="btn btn-primary">New City</a>
</div>